charset-normalizer==3.3.2
click==8.1.7
halo==0.0.31
langchain==0.0.353
langchain-community==0.0.7
langchain-core==0.1.4
langchain-experimental==0.0.47
langsmith==0.0.87
multidict==6.0.4
numpy==1.26.3
openai==1.6.1
pyfiglet==1.0.2
PyInquirer==1.0.3
pyperclip==1.8.2
spinners==0.0.24
